@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  /* --primary: 227 96% 27%; */
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-color: #e12454;
  --hover-color: #981435;
  --shadow: 0 0 35px 0 rgb(154 161 171 / 15%);

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  --color-grey: #6f8ba4;
  --grey-bg: #f4f9fc;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #6f8ba4;
  scroll-behavior: smooth;
}

section,
footer {
  padding: 90px 100px;
}

/* * {
	outline: 1px solid #f00 !important;
} */

/* nav {
  background: white;
  padding: 10px 100px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #223a66;
}

h1 {
  font-size: 44px;
  text-align: center;
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1.2px;
  font-weight: 700;
  margin: 0px;
}

h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h3 {
  font-size: 70px;
  margin: 0;
}

h6 {
  font-size: 24px;
  line-height: 1.5;
  margin: 3rem 0 1rem 0;
}

p {
  line-height: 30px;
}

a {
  color: #007bff;
}

input[type="text"],
input[type="password"],
input[type="email"],
/* input[type="number"], */
input[type="datetime-local"],
input[type="text"]:focus,
input[type="password"]:focus,
select,
input[type="email"]:focus {
  border: 1px solid #eef2f6;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  height: 45px;
  text-align: center;
  background: #f4f9fc;
}
textarea {
  border: 1px solid #eef2f6;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  outline: none;
  height: 170px;
  text-align: center;
  background: #f4f9fc;
}

.grey {
  color: rgba(255, 255, 255, 0.09);
}
button:disabled {
  color: #00000010;
}

.btnIcon {
  display: flex;
  gap: 7px;
  padding: 1.1rem 2.2rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  z-index: 20;
}

.btnIcon:hover {
  /* transform: scale(1.5);  */
  background-color: var(--hover-color);
  z-index: 20;
}

.resFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  flex-wrap: wrap;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.tac {
  text-align: center;
}

.mt70 {
  margin-top: 70px;
}
.m_0 {
  margin: 0 !important;
}

.logo {
  background: #223a66;
  background: linear-gradient(to top left, #223a66 40%, #e12454 63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid #e12454;
  border-radius: 5px;
}

.line {
  position: relative;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0px;
  content: "";
  width: 100px;
  height: 4px;
  background-color: var(--secondary-color);
}
.PhoneInput {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 45px;
  margin-bottom: 15px;
}
.PhoneInputCountrySelect {
  width: 100%;
  height: 100%;
  border: 1px solid #eef2f6;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  background: #f4f9fc;
  color: black;
}
.PhoneInputInput {
  width: 68%;
  height: 100%;
  border: 1px solid #eef2f6;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  background: #f4f9fc;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media screen and (max-width: 800px) {
  section,
  footer {
    padding: 90px 2rem;
  }
}

@media screen and (max-width: 600px) {
  section,
  footer {
    padding: 90px 1rem;
  }
  .resFlex {
    flex-direction: column;
  }
}
/* @media (prefers-color-scheme: dark) {
  input {
    color: black;
  }
} */

:nth-child(1) {
  --index: 1;
}
:nth-child(2) {
  --index: 2;
}
:nth-child(3) {
  --index: 3;
}
:nth-child(4) {
  --index: 4;
}
:nth-child(5) {
  --index: 5;
}
:nth-child(6) {
  --index: 6;
}
:nth-child(7) {
  --index: 7;
}
:nth-child(8) {
  --index: 8;
}
:nth-child(9) {
  --index: 9;
}
:nth-child(10) {
  --index: 10;
}

.border-tooltip::after {
  border-color: transparent transparent var(--secondary-color) transparent;
}

/* .border-tooltip-dark::after {
  border-color: transparent transparent #fff transparent;
} */

.gtc {
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.modal {
  box-shadow: 0px -258px 7px 20000px #000000bf;
}

.custom-shadow {
  box-shadow: inset 0px 0px 5px 2px #12882c24;
}

.flip {
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--index)) !important;
}

@keyframes flip {
  0%,
  80% {
    /* transform: rotateY(360deg); */
    transform: matrix(1, 0, 0, 1, 13, 0);
  }
}

.lds {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}
.lds div {
  display: inline-block;
  position: absolute;
  /* left: 2px; */
  width: 4px;
  background: #fff;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 6px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 12px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 0px;
    height: 16px;
  }
  50%,
  100% {
    top: 8px;
    height: 10px;
  }
}
