.navbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.patty {
  position: relative;
  height: 2px;
  width: 20px;
  background-color: red;
}

.patty::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: red;
}

.patty::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: red;
}

.patty,
.patty::after,
.patty::before {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.patty.active::before {
  transform: rotate(-45deg) translate(-5px, -2px) scaleX(0.5);
}

.patty.active::after {
  transform: rotate(45deg) translate(-5px, 2.3px) scaleX(0.5);
}

.navMenu {
  width: 100%;
  left: 0px;
  position: absolute;
  z-index: 2;
  top: 54px;
  transition: all 0.5s ease;
  flex-direction: column;
  padding: 13px 0px;
}

.navMenu.active {
  transform: translate(-100%, 0);
  transition: ease;
}

.navLinks {
  text-align: left;
  padding: 0.5rem 28px;
  font-size: 16px;
  width: 100%;
  display: table;
  color: black;
  white-space: nowrap;
  cursor: pointer;
}

.navLinks:hover,
.navLinks a:hover {
  color: var(--secondary-color) !important;
  cursor: pointer !important;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) and (max-width: 800px) {
  .navLinks {
    padding: 0.5rem 42px;
  }
}

@media screen and (min-width: 800px) {
  .navbarLogo {
    position: static;
    transform: none;
  }

  .navMenu {
    display: flex;
    width: 500px;
    position: static;
    flex-direction: row;
  }

  .navLinks {
    text-align: right;
    padding: 0px;
    color: black;
    padding: 8px;
    font-size: 15px;
  }

  .navLinks:hover {
    color: black;
  }

  .navMenu.active {
    display: flex;
    transform: none;
  }

  .menuIcon {
    display: none;
  }
}
