.box {
  flex: 0 0 33.333333%;
  max-width: 32%;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 3px 25px #e6e6e6;
}

.flex {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  color: var(--secondary-color);
  font-size: 30px;
}

.boxCon {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 880px) {
  .box {
    width: 45%;
    max-width: unset;
    flex: 0 0 48%;
  }
}
@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    max-width: unset;
    flex: unset;
  }
}
