.spinnerContainer {
	margin: 6rem auto 4rem;
}

.spinnerContainer > svg {
	width: 80%;
	margin: 1rem auto;
	display: block;
	height: 150px;
	animation: spin 3000ms linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
